
<!--Nueva imple-->
<div class="modal fade" id="ModalDetallOrden" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de la orden</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!--Encabezaado tabla-->
                <div class="mx-0 mx-lg-5 row justify-content-center">
                    <div class="col-6 text-center">
                        <div>
                            <span>Id</span>

                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Examen</span>
                    </div>
                </div>
                <div class="px-5">
                    <hr>
                </div>
                <!--Fin Encabezaado tabla-->
                <!--Cuerpo tabla-->
                <div class="mx-0 mx-lg-5 row justify-content-center">
                    <div id="idOrdenModal">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div>

                                </div>
                            </div>
                            <div class="col-6">

                            </div>

                        </div>
                    </div>
                </div>
                <!--Fin Cuerpo tabla-->
            </div>
            <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>
